.example-spacer {
    flex: 1 1 auto;
  }
  .main-body{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
  
  }
  .action{
    display: flex;
    gap: 5px;
  }
  .main-body .r{
      width: 100%;
  }